.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #fff;

    img {
      height: 30px;
    }

    .contact {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 14px;
      color: #f97316;

      p {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 0;
      }
    }
  }

  .nav-bar {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background: #f97316;
    position: relative;

    .menu {
      display: flex;
      gap: 25px;

      a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        transition: 0.3s;

        &:hover {
          color: #f97316;
        }
      }
    }

    .menu-toggle {
      background: transparent;
      border: none;
      color: white;
      cursor: pointer;
    }

    .mobile-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #fff;
      padding: 10px 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 10;

      a {
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
        text-decoration: none;
        color: #f97316;;

        &:hover {
          color: grey;
        }
      }
    }
    .menu a.active,
    .mobile-menu a.active {
      color: grey;
    }
  }
}

@media (max-width: 768px) {
  .header {
    .nav-bar {
      display: flex;
      justify-content: flex-start;
      padding: 2px 5px;
    }

    .top-bar {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      .contact {
        display: none;
      }
    }
  }
}
